*~
.*~
*.ipynb
.exercism
*.org
sum/*

Algo/*/tests/problem8.10.txt
Algo/*/tests/875714v_5105043e_tc.txt
Algo/12-2-sum/testfiles/input_random_[56]*txt
Algo/12-2-sum/testfiles/output_random_[56]*txt

Algo/13-2-greedy-alg_mst/testfiles/large_ewg-challenge.txt