*~
.*~
*.ipynb
.exercism
*.org
sum/*

Algo/*/tests/problem8.10.txt
Algo/*/tests/875714v_5105043e_tc.txt
Algo/07-dijkstra-sp/tests/large_ewd.txt
Algo/12-2-sum/testfiles/input_random_[56]*txt
Algo/12-2-sum/testfiles/output_random_[56]*txt

Algo/13-2-greedy-prim_mst/testfiles/large_ewg-challenge.txt
Algo/14-1-union-find/testfiles/input_large_uf.txt

Algo/14-3-greedy-single-link-clustering/testfiles/input_complete_random_*_1024.txt
Algo/14-3-greedy-single-link-clustering/testfiles/output_complete_random_*_1024.txt
Algo/14-4-greedy-clustering/testfiles/input_clustering_big.txt
Algo/14-4-greedy-clustering/testfiles/input_random_81_131072_24.txt
Algo/14-4-greedy-clustering/testfiles/input_random_82_131072_22.txt
Algo/14-4-greedy-clustering/testfiles/input_random_83_262144_24.txt